My Balances.json
[{"id":"f11be1a0.a397f","type":"http request","z":"4dd7c48c.54567c","name":"Coinspot API request","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":360,"wires":[["180efda4.a227d2"]]},{"id":"7365f129.fd0d2","type":"function","z":"4dd7c48c.54567c","name":"Creates URL & finalises headers","func":"//creates an empty variable for headers\nmsg.headers = {};\n\n//this makes sure the server knows it's a JSON load\nmsg.headers[\"content-type\"] = 'application/json' ;\n\n//this puts your apikey (from the injection node) into the header\nmsg.headers[\"key\"] = msg.apikey;\n\n//this puts your signature (HMAC hash of the nonce) into a header\nmsg.headers[\"sign\"] = msg.sign;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":320,"wires":[["f11be1a0.a397f"]]},{"id":"34ffe56d.ce699a","type":"function","z":"4dd7c48c.54567c","name":"converts signature for header and puts nonce in payload","func":"//this copies the HMAC hash into a 'sign' variable\nmsg.sign = msg.payload ;\n\n//this deletes the HMAC hash from payload\nmsg.payload = {};\n\n//this copies the nonce back to the payload\nmsg.payload.nonce = msg.nonce ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":240,"wires":[["9f186fb1.dbcd7"]]},{"id":"fd2c6775.6f7578","type":"inject","z":"4dd7c48c.54567c","name":"BALANCES - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/balances","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"PUT YOUR API HERE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":380,"y":120,"wires":[["a266d2bf.b514b"]]},{"id":"180efda4.a227d2","type":"debug","z":"4dd7c48c.54567c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"e5c3ec01.dc449","type":"hmac","z":"4dd7c48c.54567c","name":"HMAC sign payload (nonce=xxxxx)","algorithm":"HmacSHA512","key":"PUT YOUR SECRET HERE","x":440,"y":200,"wires":[["34ffe56d.ce699a"]]},{"id":"a266d2bf.b514b","type":"json","z":"4dd7c48c.54567c","name":"Convert nonce to JSON string","property":"payload","action":"str","pretty":false,"x":450,"y":160,"wires":[["e5c3ec01.dc449"]]},{"id":"9f186fb1.dbcd7","type":"json","z":"4dd7c48c.54567c","name":"Convert nonce to JSON string (again!)","property":"payload","action":"str","pretty":false,"x":430,"y":280,"wires":[["7365f129.fd0d2"]]}]