Read Only API Requests.json
[{"id":"5c0bcd8e.37bac4","type":"tab","label":"Coinspot Read Only API","disabled":false,"info":""},{"id":"ac5dd4d4.4c3928","type":"http request","z":"5c0bcd8e.37bac4","name":"Coinspot API request","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":360,"wires":[["7ff5463b.81efa8"]]},{"id":"ea83fbf4.9603e8","type":"function","z":"5c0bcd8e.37bac4","name":"converts signature for header and puts nonce in payload","func":"//this copies the HMAC hash into a 'sign' variable\nmsg.sign = msg.payload ;\n\n//this deletes the HMAC hash from payload\nmsg.payload = {};\n\n//this copies the nonce back to the payload\nmsg.payload = msg.nonce ;\n\n//creates an empty variable for headers\nmsg.headers = {};\n\n//this makes sure the server knows it's a JSON load\nmsg.headers[\"content-type\"] = 'application/json' ;\n\n//this puts your apikey (from the injection node) into the header\nmsg.headers[\"key\"] = msg.apikey;\n\n//this puts your signature (HMAC hash of the nonce) into a header\nmsg.headers[\"sign\"] = msg.sign;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":320,"wires":[["ac5dd4d4.4c3928"]]},{"id":"a079b7b0.a83218","type":"inject","z":"5c0bcd8e.37bac4","name":"BALANCES - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/balances","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":340,"y":240,"wires":[["b08b0eb.50903f"]]},{"id":"7ff5463b.81efa8","type":"debug","z":"5c0bcd8e.37bac4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":400,"wires":[]},{"id":"1d005bd.b767ca4","type":"hmac","z":"5c0bcd8e.37bac4","name":"HMAC sign payload (nonce=xxxxx)","algorithm":"HmacSHA512","key":"PUT SECRET HERE","x":900,"y":280,"wires":[["ea83fbf4.9603e8"]]},{"id":"b08b0eb.50903f","type":"json","z":"5c0bcd8e.37bac4","name":"Convert msg.payload to JSON","property":"payload","action":"str","pretty":false,"x":910,"y":200,"wires":[["59d60762.fdb0b8"]]},{"id":"5d318114.5f96a","type":"inject","z":"5c0bcd8e.37bac4","name":"DEPOSITS - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/deposits","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":340,"y":280,"wires":[["b08b0eb.50903f"]]},{"id":"fd5d51a.f67fdb","type":"inject","z":"5c0bcd8e.37bac4","name":"WITHDRAWALS - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/withdrawals","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":320,"wires":[["b08b0eb.50903f"]]},{"id":"d764970b.2a7048","type":"inject","z":"5c0bcd8e.37bac4","name":"TRANSACTIONS - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/transactions","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":360,"y":360,"wires":[["b08b0eb.50903f"]]},{"id":"4955e324.8044cc","type":"inject","z":"5c0bcd8e.37bac4","name":"SEND/RECEIVE - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/my/sendreceive","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":400,"wires":[["b08b0eb.50903f"]]},{"id":"eb6168ea.b54628","type":"inject","z":"5c0bcd8e.37bac4","name":"STATUS - Create nonce, URL, method, and apikey","props":[{"p":"payload.nonce","v":"","vt":"date"},{"p":"nonce.nonce","v":"","vt":"date"},{"p":"url","v":"https://www.coinspot.com.au:443/api/ro/status","vt":"str"},{"p":"method","v":"POST","vt":"str"},{"p":"apikey","v":"apikey","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":200,"wires":[["b08b0eb.50903f"]]},{"id":"59d60762.fdb0b8","type":"json","z":"5c0bcd8e.37bac4","name":"Convert msg.nonce to JSON","property":"nonce","action":"str","pretty":false,"x":920,"y":240,"wires":[["1d005bd.b767ca4"]]},{"id":"8ce76e65.c6cb1","type":"comment","z":"5c0bcd8e.37bac4","name":"IMPORTANT NOTE - Put your APIKEY in this inject node","info":"","x":370,"y":40,"wires":[]},{"id":"e8ad77b0.8ddfd8","type":"inject","z":"5c0bcd8e.37bac4","name":"Set APIKEY","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"insert APIKEY here","payloadType":"str","x":230,"y":80,"wires":[["1403f930.bc9647"]],"icon":"node-red/cog.svg"},{"id":"1403f930.bc9647","type":"change","z":"5c0bcd8e.37bac4","name":"Make APIKEY a Flow Variable","rules":[{"t":"set","p":"apikey","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[[]]},{"id":"cb6c1b40.269e78","type":"comment","z":"5c0bcd8e.37bac4","name":"<-- PUT YOUR SECRET HERE","info":"","x":1210,"y":280,"wires":[]}]